* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f172a;
  font-family: Segoe UI, sans-serif;
  color: white;
}

.home-section {
  padding: 40px 60px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-header h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.toggle-buttons {
  display: flex;
  background: #1e293b;
  border-radius: 30px;
  padding: 4px;
}

.toggle-buttons button {
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
  color: white;
  transition: 0.3s;
}

.toggle-buttons button:hover {
  background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

.movie-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width: none;
  scroll-behavior: smooth; 
}

.movie-grid::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: 200px;
  flex: 0 0 auto;
  background-color: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover; /* ✅ FIX */
  display: block;
}

.content {
  padding: 10px;
  text-align: center;
}

.content h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.content p {
  font-size: 13px;
  color: #94a3b8;
}

.watchlist-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #fa0202;
  font-size: 20px;
  border: none;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.movie-card:hover .watchlist-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.watchlist-icon {
  transform: translateY(-10px);
}

.skeleton {
  background: linear-gradient(90deg, #1e293b 25%, #334155 50%, #1e293b 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
}

.skeleton-poster {
  width: 100%;
  height: 250px;
}

.skeleton-title {
  width: 80%;
  height: 20px;
  margin: 10px auto;
}

.skeleton-text {
  width: 100%;
  height: 14px;
  margin-bottom: 10px;
}

.skeleton-text.small {
  width: 60%;
  margin: auto;
}

.skeleton-btn {
  width: 120px;
  height: 35px;
  margin: 10px auto;
}
.company-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.company-item {
  min-width: 120px;
  text-align: center;
}

.company-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  padding: 10px;
}