* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #0f172a;
  font-family:
    Segoe UI,
    sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.home-section {
  padding: 40px 60px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-header h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.toggle-buttons {
  display: flex;
  background: #1e293b;
  border-radius: 30px;
  padding: 4px;
}

.toggle-buttons button {
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
  color: white;
  transition: 0.3s;
}

.toggle-buttons button:hover  {
  background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
  color: rgb(255, 255, 255);
}

.movie-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width:none;
}

.movie-grid::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 180px;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.content h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

.content p {
  font-size: 13px;
  color: #94a3b8;
}
